/* Structure */

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(226, 224, 224);
   
}


.hidden {
    display: none;
}

.toy {
    padding: 15px;
    margin: 10px;
    border-radius: 10px; 
    background:pink;
    position: relative;
    width: 50%;
    
    
}

.toy-details {
    padding: 15px;
    margin: 10px;
    border-radius: 10px; 
    background:rgb(146, 146, 224);
    color:black;
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}
.image {
    border-radius: 10px;
    max-width: 100%;
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.toy:hover .toy-details {
    opacity: 1;
  }

.toy:hover .image {
    opacity: .2;
  }

/* Images */

/* Gradients */



/* Typography */




/* Hamburger Menu */


/* Navigations */


/*Larger Resolutions */
@media(min-width:900px) {
     #toy-list {
        display: flex;
     }

     .toy {
        flex:1;
     }
    

}