/* Structure */
#main-header,
#main-footer {
    background-color: rgb(253, 236, 215);
    padding:5px;
    margin:10px;
}

#main-content {
    background-color: rgb(255, 120, 142);
}


.column {
    padding: 15px;
    margin: 5px;
    border-radius: 2px; 
    background-color: rgb(254, 219, 225);
}




/* Typography */

#main-header {
    text-align:center;
}

.column {
    text-align:center;
}

#main-footer {
    text-align: center;
}

/* Navigations */

/*Larger Resolutions */

@media (min-width: 900px) {
    .flex-container {
        display:flex;
    }
    
    .column {
        flex: 1;
    }
}
